Pygments>=2.4
markdown>=3.2
pymdown-extensions>=7.0

mkdocs>=1.1
mkdocs-material>=1.0
mkdocs-redirects>=1.0
mkdocs-minify-plugin>=0.3
mkdocs-monorepo-plugin>=0.4.11
mkdocs-macros-plugin>=0.4.20
mkdocs-markdownextradata-plugin>=0.1.9
mkdocs-exclude-search>=0.2.0